services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    env_file: .env
    ports:
      - ${HOMEPAGE_PORT}:${HOMEPAGE_PORT}
    volumes:
      - './etc-homepage:/app/config' # Make sure your local config directory exists
      - '/home/chris:/boot'
      - '/media/data:/mnt/data'
      - '/media/backup:/mnt/backup'
    restart: unless-stopped
    networks:
      - proxy
networks:
  proxy:
    external: true
